
body{
    text-align: left;
    width: 800px;
    height: auto;
    margin:auto;
    /* border: 2px solid black; */
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}
h3 {
    font-size: 12px;
}

#images1 {
    /* border: 2px solid black; */
    width: 75%;
    display: inline-block;
    vertical-align: top;
    
}

#images1 img{
    /* border: 2px solid green; */
    width: 75px;
    height: 75px;
}

#characterinfo1 {
    border: 2px solid green;
    width: 20%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#characterinfo1 img{
    width: 125px;
    height: 125px;
}
#images2 {
    /* border: 2px solid black; */
    width: 75%;
    height: auto;
        display: inline-block;
        vertical-align: top;
        
}
#images2 img{
    /* border: 2px solid green; */
    width: 75px;
    height: 75px;
}

#characterinfo2 {
    border: 2px solid green;
    width: 24%;
    height: auto;
    display: inline-block;
        vertical-align: middle;
}
#characterinfo2 img{
    width: 125px;
    height: 125px;
    /* display: none; */
}

#images3 {
    /* border: 2px solid black; */
    width: 75%;
    height: auto;
    display: inline-block;
        vertical-align: top;
}
#images3 img{
    /* border: 2px solid green; */
    width: 75px;
    height: 75px;
}

#characterinfo3 {
    border: 2px solid green;
    width: 24%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
#characterinfo3 img{
    width: 125px;
    height: 125px;
}